.App{
    text-align: center;
    background-color: var(--background);
    height: 100vh;
}

.Switch {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} 
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

Table , Form {
    margin: 2rem auto;
}

th, td {
    padding: 1rem;
    border: 1px var(--text-primary) solid;
    color: var(--text-primary);
}

.Edit {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
}

.Delete {
    background-color: rgb(254, 134, 134);
    border-color: rgb(254, 134, 134);
}

.Link_Button Button{
    width: 5rem;
    height: 2rem;
    background-color: rgb(159, 159, 252);
    border-color: rgb(159, 159, 252);
}

Button:hover {
    cursor: pointer;
    opacity: 70%;
}

.Input {
    color: var(--text-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-color: var(--text-primary);
    background-color: var(--background);
}

Form Button {
    background-color: var(--background);
    border-color: var(--text-primary);
    color: var(--text-primary);
    width: 5rem;
    height: 2rem;
    margin: 1rem 0.5rem;
}